pip==21.3.1
python-dateutil==2.8.2
setuptools==67.8.0
six==1.16.0
testit-api-client==3.1.1
urllib3==1.26.15
wheel==0.40.0
validators==0.20.0
tqdm>=4.64.1

flake8
flake8-bugbear==23.5.9
flake8-print

isort

black==23.3.0
