name: Code checks

on:
  - pull_request

jobs:
  linters:
    name: Auto check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest] # disable tests on other os
        python-version: ['3.9']
    steps:
      - uses: actions/checkout@v3

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Tests
        run: pytest --basetemp=tmp

      - name: Run flake8
        run: flake8 --ignore=C901,W503,W504 src

